@model BusSchedule.Data.Driver

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Driver</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="DrverName" class="control-label"></label>
                <input asp-for="DrverName" class="form-control" />
                <span asp-validation-for="DrverName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DrverPhone" class="control-label"></label>
                <input asp-for="DrverPhone" class="form-control" />
                <span asp-validation-for="DrverPhone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DrverAddress" class="control-label"></label>
                <input asp-for="DrverAddress" class="form-control" />
                <span asp-validation-for="DrverAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DrverNID" class="control-label"></label>
                <input asp-for="DrverNID" class="form-control" />
                <span asp-validation-for="DrverNID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
